header{/* Rectangle 6 */


position: absolute;
width: 1212px;
height: 387px;
left: 114px;
top: 78px;

background: linear-gradient(180deg, #FFF9F4 0%, #C8B3A5 100%);
border-radius: 40px;}

header0{/* Rectangle 7 */


position: absolute;
width: 1107px;
height: 301px;
left: 166px;
top: 119px;

background: #FFFFFF;
border-radius: 40px;}
body{/* Frame 1 */


position: relative;
width: 1440px;
height: 1024px;

background: #C8B3A5;}
body1{/* Rectangle 5 */


position: absolute;
width: 1440px;
height: 454px;
left: -170px;
top: 588px;

background: #FFF9F4;}
h1{/* Gabriella Denega */


position: absolute;
width: 492px;
height: 89px;
left: 637px;
top: 50px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 67px;

color: #464649;
}
h2{/* estudante */


position: absolute;
width: 218px;
height: 47px;
left: 750px;
top: 150px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 47px;

color: #000000;
}
h3{/* Line 1 */


position: absolute;
width: 288.01px;
height: 0px;
left: 670px;
top: 160px;

border: 1px solid #000000;
}
h4{/* Line 2 */


position: absolute;
width: 288px;
height: 0px;
left: 670px;
top: 202px;

border: 1px solid #000000;
}
body2{/* Rectangle 8 */


position: absolute;
width: 1212px;
height: 450px;
left: 114px;
top: -130px;

background: #FFFFFF;
mix-blend-mode: normal;
border-radius: 40px;}
