background{/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 44px;
left: 0px;
top: 0px;

background: #093758;}
h{/* Perfil do Estudante */

position: absolute;
width: 217px;
height: 20px;
left: 612px;
top: 12px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;}
img{/* Rectangle 5 */

position: absolute;
width: 145px;
height: 94px;
left: 88px;
top: 76px;

background: url(images.jpg);}
img{/* Rectangle 4 */

position: absolute;
width: 145px;
height: 94px;
left: 1208px;
top: 68px;

background: url(figma-logo.png);}
h1{/* PERFIL */

position: absolute;
width: 237px;
height: 73px;
left: 602px;
top: 30px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;

color: #782E56;}
h2{/* Estudante */

position: absolute;
width: 128px;
height: 48px;
left: 633px;
top: 113px;

font-family: 'Sacramento';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;

color: #000000;}
line{/* Line 3 */

position: absolute;
width: 1441.08px;
height: 0px;
left: 0px;
top: 230px;

border: 1px solid #093758;}
h3{/* Menu */

position: absolute;
width: 80px;
height: 23px;
left: 244px;
top: 211px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #093758;}
h4{/* Sobre Mim */

position: absolute;
width: 133px;
height: 20px;
left: 478px;
top: 205px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #093758;}
h5{/* Escolariedade */

position: absolute;
width: 194px;
height: 28px;
left: 765px;
top: 197px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #093758;}
h6{/* Contato */

position: absolute;
width: 119px;
height: 28px;
left: 1113px;
top: 180px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #093758;}
Line2{/* Line 4 */


position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 270px;

border: 1px solid #093758;}
